__pycache__/
*.py[cod]
*$py.class
*.so
/env/
/build/
/dist/
/sdist/
*.egg-info/
*.egg
pip-log.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.ipynb_checkpoints
.python-version
.env
*.ipynb
